:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--colorBLUEcontrast800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorBLUE:  #4aacb5;
  --colorBLUE50:  #bde7ea;
  --colorBLUE100:  #74d4db;
  --colorBLUEcontrast:  #26575C;
  --colorBLUEcontrast800:  #112729;
  --colorBLUEcontrast900:  #040a0a;
  --colorBLUEshadown:  hsla(180, 43%, 3%, 0.694);
  --colorTRANSPARENT100:  hsla(185, 41%, 11%, 0.26);
  --colorTRANSPARENT300:  hsl(180, 47%, 3%) ;

}


main h1{
  background-color: var(--colorBLUE);
  padding: 10px;
  width: fit-content;
  box-sizing: content-box;
  border-radius: 10px;
}

.Projetos{
  display: grid;
/* grid-template-columns: 340px 340px 340px;  */
/*   grid-template-columns: repeat(3, 340px); */
/*  grid-template-columns: repeat(3, 1fr);    */
/*   grid-template-columns: repeat(3, minmax(340px,1fr));    a width das div filha pode crescer > 340px e n pode diminuir < 340px*/
/*  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));    auto-fit  funciona parecido com o flex-wrap*/ 
  grid-template-columns: repeat(auto-fit, 340px);
  justify-content: space-around;
}

/* Projeto */

.Projetos{
  background-color: var(--colorBLUE);
  padding: 10px;
  color: var(--colorBLUEcontrast);
  border-radius: 10px;
}

.Projeto{
  padding: 10px 5px;
  text-align: center;
}

.Projeto:hover{   /* quero que o height mude de acorod com o tanto de imagens dentro da div .Projeto_block_TechUsed*/
  background-color: var(--colorBLUE100);
  border-radius: 10px;
  /* height: fit-content; */
}

.Projeto_block{
  height: fit-content;
  box-sizing: content-box;
  text-decoration: none;
  color: inherit;
}
.Projeto_block_img{
  width: 310px;
  border-radius: 10px;
}

.Projeto_block_TechUsed{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.Projeto_block_TechUsed_img{
  opacity: 0;
  transform: translateY(-100%);
  transition: transform ease 0.3s;
  position: absolute; /*serve para as imagems não ocupar espaço dentro do elemento <a> e ficar todos componentes Projeto do mesmo tamanho enquanto n tiver hover*/
  width: 50px;
}

/*    dentro da div .Projeto_block_TechUsed exibir as imagens em tempos diferentes */
/* Para não ter que decidir isto estaticamente no css posso apartir do react atribuir valor ao tempo da transição*/
/* Para apartir do react alterar o valor de uma propriedade css de cada uma das imagems e todas com valores diferentes
#img0{
  transition-duration: 0.4s;
}
*/

.Projeto:hover .Projeto_block_TechUsed_img{ /* quando tiver hover atribuir este css para div .Projeto_block_TechUsed_img*/
  opacity: 1;
  transform: translateY(0%);
  position: static;/* serve para crescer o tamanho do componente Projeto de acordo com a quantidade de Techs usada no projeto*/
}

/*
.Projeto_block_TechUsed ,
.Projeto_block_text{
  opacity: 0;
  position: absolute;
}

.Projeto:hover .Projeto_block_TechUsed ,
.Projeto:hover .Projeto_block_text{
  opacity: 1;
  position: static;
  transition: opacity ease 0.3s;
}
*/




/* Artistas */

.Artistas{
  margin: 10px;
  padding: 10px;
}

.Artistas{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
}

.Artistas_Artista{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 10px;

  border-radius: 5px; 

}

.Artistas_Artista:hover{
  background-image: linear-gradient(to bottom , var(--colorBLUEcontrast800), var(--colorBLUEcontrast900));
}



.Artistas_Artista_divIMAGE{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  width: 150px;
  height: 150px;
  

}

.Artistas_Artista h3, .Artistas_Artista h4{
  margin: 0;
}

.Artistas_Artista_divIMAGE img{
  /*width: 100%; height: 100%; */
  object-fit: cover;
  scale: 0.3;
  border-radius: 10px;
}

.Artistas_Artista{
  position: relative;
}
.Artistas_Artista_Icon{
  font-size: 50px;
  transform: translateX(100%);
  position: absolute;
  color: var(--colorBLUE100);

  right: -10;
  bottom: 0;

  opacity: 0;
  transition: transform ease 0.3s;
  transition-property: transform,opacity;
}
.Artistas_Artista:hover .Artistas_Artista_Icon{
  opacity: 1;
  transform: translateY(-100%);

}

/* ProfileArtist */

.ProfileArtist{

  margin: 15px;
  padding: 0px 0px 20px;
  background-color: #4aacb5;

  border-radius: 40px;
  overflow: hidden;

  color: var(--colorBLUE50);
}

.ProfileArtist_header{
  padding: 30px;
  height: 450px;
  width: 100%;

  box-sizing: border-box;
  overflow: hidden;
  background-image: linear-gradient(to bottom, var(--colorTRANSPARENT100), var(--colorTRANSPARENT300)), url("https://www.swr3.de/media-assets/1654605065669%2Cits-my-life-bon-jovi-102~_v-16x9@2dL_-6c42aff4e68b43c7868c3240d3ebfa29867457da.jpg");
  background-size: cover;
  background-position: 10%; /* Esta cortando 10% top da imagem no background*/

  display: flex;
  align-items: flex-end;

}

.ProfileArtist_header_title{
  font-size: 96px;
  margin: 0px;
  padding: 0px;
  line-height: 80px;
}

.ProfileArtist_body{
  padding: 30px;
  color: var;
}

.ProfileArtist_body section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.ProfileArtist_body section:hover{
  background-color: var(--colorBLUEcontrast800);
}

.ProfileArtist_body_songname{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  font-size: 30px;
  font-weight: 500;
}

.ProfileArtist_body_songname_p{
  display: -webkit-box;
  -webkit-line-clamp: 1; /*quando o navegador n tiver compatibilidade com a propriedade line-clamp*/
  line-clamp: 1; /* se o navegador tiver compatibilidade com essa propriedade dar certo*/
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ProfileArtist_body section:hover .ProfileArtist_body_songname_p{
  -webkit-line-clamp: 10; /*quando o navegador n tiver compatibilidade com a propriedade line-clamp*/
  line-clamp: 10; /* se o navegador tiver compatibilidade com essa propriedade dar certo*/
}

.ProfileArtist_body_img{
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

}

.ProfileArtist_body_img img{
  height: 100%;
}


/* Song  */

.Song{

  height: 100svh;
  background-color: var(--colorBLUEcontrast900);

  padding:25px;
}

.Song_container{

  border-radius: 25px 25px 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;

  background-image: linear-gradient(to bottom, var(--colorBLUEcontrast), var(--colorBLUEcontrast900));
}

.Song_container_image img{
  display: block;
  box-shadow: 0px 0px 20px 1px var(--colorBLUEshadown);
}